* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

/* nav styles */
nav {
    background-color: #5f88b4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.left {
    display: flex;
    padding-left: 7%;
}
.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

nav p {
    font-size: 40px;
    font-weight: 300;
}
.logo {
    filter: invert(98%);
    transform: rotate(-7deg);
    width: 50px;
    margin: -5px 5px 5px 5px;
}

nav span {
    font-size: 14px;
    position: relative;
    bottom: 8px;
}

ul {
    display: flex;
}

nav ul li {
    font-weight: 100;
    font-size: 12px;
    padding: 0 19px;
}

.story {
    background-image: linear-gradient(150deg, #fefefe, #ababab);
}

/* search */
.search {
    display: flex;
    justify-content: flex-end;
    margin: 0 5%;
}
.searchBox {
    background-color: #e4e4e4;
    font-family: sans-serif;
    padding-right: 30px;
    height: 30px;
    border-radius: 3px;
}

.fas {
    position: relative;
    right: 35px;
    top: 2px;
    color: #b1b1b1;
}

/* main styles */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 65px;
}
.shadowthimble {
    height: 460px;
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thimble {
    width: 50%;
    z-index: 2;
    position: relative;
    top: 100px;
    right: -35px;
}
.shadow {
    filter: grayscale(95%) 
    blur(17px) 
    opacity(.5);
    width: 30%;
    position: relative;
    bottom: 160px;
    left: 5px;
    z-index: 0;
}
.main-text {
    width: 100%;
}
.bold-thimble {
    font-size: 42px;
    font-weight: 800;
}
.main p {
    color: #5f88b4;
    font-size: 40px;
    font-weight: 300;
}
.break {
    display: none;
}
.box {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.purple {
    color: #6740AC;
}

.dwarves-box {
    background-image: url("../img/dwarves2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: 100% auto;
    background-position: center top;
}
#dwarves-text {
    margin: 150px 50px 20px 50px;
    padding: 20px;
    font-size: 38px;
    color: #3f6894;
    text-align: center;
    justify-content: center;
    background-color: rgba(230, 230, 230, .7);
    position: relative;
    top: 225px;
}

.plane-box {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}
#plane-text {
    width: 50%;
    margin: 20px;
    font-size: 35px;
    position: relative;
    top: 100px;
    text-align: center;
    color: #6740AC;
}
.plane {
    height: 300px;
    padding: 95px 5% 0 5%;
}

.pinata-box {
    display: flex;
    flex-direction: row;
    padding: 60px 30px 30px 0px;
}
#pinata-text {
    width: 50%;
    margin: 20px;
    font-size: 40px;
    position: relative;
    top: 100px;
    text-align: center;
    color: #5f88b4;
}
.pinata {
    height: 400px;
    padding: 50px 10%;
}

.allergic-box {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}
#allergic-text {
    width: 50%;
    margin: 20px;
    font-size: 40px;
    position: relative;
    top: 100px;
    text-align: center;
    color: #6740AC;
}
.grossface {
    height: 400px;
}

h2 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: #6740AC;
    background-image: linear-gradient(45deg, #666666, #202020);
}


/* footer styles */
footer {
    background-color: #6740AC;
    height: 90px;
    z-index: 99;
}
.footer-div {
    color: white;
    text-align: right;
    padding: 40px 25px 0px 0px;
}
a {
    color: white;
}
.footer-div p {
    padding-top: 10px;
}


/* main fixes */
@media (max-width: 1150px) {
    #dwarves-text {
        font-size: 30px;
    }
}

@media (max-width: 1075px) {
    .box p {
        font-size: 36px;
    }
    #dwarves-text {
        font-size: 28px;
        top: 200px;
    }
    #plane-text {
        font-size: 28px;
    }
    #pinata-text {
        font-size: 28px;
    }
    #allergic-text {
        margin: 18px;
        font-size: 28px;
    }
}

@media (max-width: 985px) {
    .box {
        padding: 0;
        margin: 35px;
    }
    .main-text {
        height: 35vh;
    }
    .main {
        padding: 0;
        margin: 0;
    }
    .main p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    }
    .shadowthimble {
        display: none;
    }
    #dwarves-text {
        font-size: 24px;
        top: 150px;
    }
    .plane {
        height: 250px;
        padding: 0 5% 0 5%;
        position: relative;
        top: 125px;
    }
    #plane-text {
        font-size: 26px;
    }
    #pinata-text {
        font-size: 26px;
    }
    #allergic-text {
        margin: 16px;
        font-size: 26px;
    }
}

@media (max-width: 760px) {
    nav {
        flex-direction: column;
    }
    .right {
        padding-left: 3%;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }
    .left {
        padding: 0;
        align-items: center;
        position: relative;
        top: 15%;
    }
    #dwarves-text {
        font-size: 22px;
        top: 100px;
    }
    .plane {
        height: 200px;
        padding: 0 2% 0 2%;
        position: relative;
        top: 125px;
    }
    #plane-text {
        font-size: 24px;
    }
    #pinata-text {
        font-size: 24px;
    }
    .pinata {
        height: 300px;
        padding: 20px 5%;
    }
    .grossface {
        height: 300px;
    }
    #allergic-text {
        margin: 16px;
        font-size: 24px;
}

@media (max-width: 640px) {
    #dwarves-text {
        font-size: 20px;
        top: 85px;
    }
    .plane {
        height: 170px;
        padding: 0 1% 0 1%;
        top: 185px;
    }
    #plane-text {
        font-size: 22px;
    }
    #pinata-text {
        font-size: 22px;
    }
    #allergic-text {
        font-size: 22px;
    }
}
@media (max-width: 595px) {
    #dwarves-text {
        font-size: 22px;
        top: 250px;
    }
    .plane {
        height: 170px;
        padding: 0 1% 0 1%;
        top: 185px;
    }
    #plane-text {
        font-size: 20px;
    }
    #pinata-text {
        font-size: 20px;
    }
    #allergic-text {
        margin: 14px;
        font-size: 18px;
    }
}



/* @media (max-width: 910px) {
    .box p {
        font-size: 35px;
    }
}

@media (max-width: 885px) {
    .main p {
        width: 110%;
    }
}

@media (max-width: 826px) {
    .main p {
    width: 90%;
    position: relative;
    left: 5%
    }
}

@media (max-width: 750px) {
    .case {
        margin-bottom: 50px;
    }
    .main {
        margin: auto;
        padding: 10% 0% 10% 0%;
        text-align: center;
    }
    .main p {
        position: relative;
        padding: 0 10% 0 0;
        font-size: 50px;
        right: -60%;
    }
    .box {
        align-items: center;
        padding: 0;
    }
    .box p {
        margin: auto;
    }
}

@media (max-width: 600px) {
    .main p {
        font-size: 38px;
    }
    .box {
        margin: auto;
    }
}
@media (max-width: 450px) {
    nav {
        flex-direction: column;
    }
    nav ul li {
        padding: 0 1.5%;
    }
    .main p {
        font-size: 30px;
    }
} */